@{
    ViewData["Title"] = "About Us";
}

<h2>About Us</h2>
<p>
    We are from AUST CSE-48. We are building this project for our Software Developement Lab (CSE3200). We are still working on this. Stay Tuned.
</p>

<h2>Details of MyBus</h2>
<p>
    MyBus is a premium online booking portal which allows you to purchase ticket for various bus across the country.
</p>

<h2>Follow Us on social media:</h2>

<div class="social-links">
    <a href="https://www.facebook.com/masudurrahman10920" target="_blank">
        <img src="~/images/facebook.jpg" alt="Facebook" style="width:40px;height:40px;" />
    </a>
    <a href="https://www.instagram.com/this_is_sakii" target="_blank">
        <img src="~/images/instagram.jpg" alt="Instagram" style="width:40px;height:40px;" />
    </a>
    <a href="https://x.com/this_is_sakii" target="_blank">
        <img src="~/images/twitter.jpg" alt="X" style="width:40px;height:40px;" />
    </a>
</div>

<style>
    .social-links a {
        margin: 0 10px;
    }
</style>
